doctype html
html
  head
    title My Collection
    link(rel='stylesheet', href= "../css/collection.css")
  body
    // Top Bar
    .top-bar
      h1 My Collection
    
    // Binders Row
    .binders-row
      each binder in binders
        .binder
          a(href=`/binder/${binder._id}`) #{binder.name}

    // Cards Grid
    .cards-grid
      each card in cards
        .card
          a(href=`/card/${card._id}`)
            img(src=`/images/${card.image}` alt=card.name)
