doctype html
html
  head
    title My Collection
    link(rel='stylesheet', href= "../css/collection.css")
  body
    // Top Bar
    .top-bar
      h1 My Collection
      // Add a simple link to go back to the user page
      a(href='/user', style="display: inline-block; padding: 10px 15px; background-color: white; color: black; border: none; border-radius: 5px; text-decoration: none; font-weight: bold;") Back to User
    // Binders Row
    .binders-row
      each binder in binders
        .binder
          a(href=`/binder/${binder._id}`) #{binder.name}

    // Cards Grid
    .cards-grid
      each card in cards
        .card
          a(href=`/card/${card._id}`)
            img(src=`${card.image}` alt=card.name)
